body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.newNote {
  width: 16vw;
  height: 100vh;
  border: 1px solid black;

}

.notesList {
  width: 24vw;
  height: 100vh;
  border: 1px solid pink;
}

.editNote {
  width: 59vw;
  height: 100vh;
  border: 1px solid blue;
}

.container {
  display: flex;
  /* display: inline; */
}

.note {
  position: relative;
  width: 100%;
  height: 12vh;
  border: 1px solid green;
}
